*{
    font-family: "verdana", sans-serif;
    font-size: 16px;
}
.form-control {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
h1 {
    font-size: 1.5em;
    margin: 20px;
}
.detail{
    font-size: 1.2em;
    margin: 10px 20px;
    width: 80%;
    padding: 10px;
}
.btn-join{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color:rgb(20, 176, 41);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-leave{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color:rgba(211, 34, 34, 1);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-back{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-edit{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #6e25ebff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.event-details {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
p{
white-space: normal;
word-wrap: break-word;
overflow-wrap: break-word;
}
