{% extends 'event_finder/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}{% if message.extra_tags == "email_taken" %}<a href="../login">please login instead.</a>{% endif %}</li>
                {% endfor %}
            </ul>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Login</button>
</form>
{% endblock %}