{% extends 'event_finder/base.html' %}
{% block title %}View Profile{% endblock %}

{% block content %}
<section class="profile-panel page-panel">
<h1>{{ user.username }}'s Profile</h1>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Joined:</strong> {{ user.date_joined|date:"M d, Y" }}</p>

{% if user.bio %}
    <h2>Profile Details</h2>
    <p><strong>Bio:</strong> {{ user.bio }}</p>
{% else %}
    <p>This user has not set up a bio yet.</p>
{% endif %}



{% load static %}
{% if user.profile_image %}
  <div class="current-avatar">
    <h3>Current avatar</h3>
    <img src="{{ user.profile_image.url }}" alt="{{ user.username }} avatar">
  </div>
{% else %}
  <div class="current-avatar">
    <h3>Current avatar</h3>
    <img src="{% static 'images/default.svg' %}" alt="{{ user.username }} avatar">
  </div>
{% endif %}


{% if own %}
  <div class="form-actions">
    <a class="btn-edit" href="{% url 'profile_edit' %}">Edit Profile</a>
  </div>
{% endif %}

</section>

{% endblock %} 